



/* purch */ 

/* .dark {
  height: 100vh;
} */

.purch {
  background-color: white;
  width: 800px;
  border: 15px solid white;
  padding: 110px;
  margin: 20px;
  height: 750px;
  position: relative;
  top: -150%;
  left: -200%;
}
.likes {
  font-family: 'Montserrat Alternates', sans-serif;
  position: relative; 
  left: 32%;
  font-weight: bold;
}
.purchc {
  height: 200px;
  width: 200px ;
  position: fixed;
  top: 50%;
  left: 50%;
}
.bidHeader{
  position: relative;
  top: -18%;
  left: 30%;
}
.bidForm{
  position: relative;
  top: -20%;
  left: 30%
}

.bidimg {
  width: 70%;
  height: 50%;
  bottom: 150px;
  position: relative;
  align-items: center;
  justify-content: center;
  top: -20%;
  left: 10%;
}




.navbar-brand {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #800000;
  font-weight: 3000
}
/* ADDIAS */
.sneak {
  display: flex;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1000;
  /* position: relative; */

}
 .sneak::-webkit-scrollbar{
  width: 0.5rem;
}
.sneak::-webkit-scrollbar-track{
  border:7px solid #ffffff  ;
}

.sneak::-webkit-scrollbar-thumb {
  background: #000000 ;
  border-radius: 10px;
}


/* JORDAN */
.sneakj {
  display: flex;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1000;
  /* position: relative; */

}
 .sneakj::-webkit-scrollbar{
  width: 0.5rem;
}
.sneakj::-webkit-scrollbar-track{
  border:7px solid #ffffff  ;
}

.sneakj::-webkit-scrollbar-thumb {
  background: #000000 ;
  border-radius: 10px;
}



/* NIKE */
.sneakn {
  display: flex;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1000;
  /* position: relative; */

}
 .sneakn::-webkit-scrollbar{
  width: 0.5rem;
}
.sneakn::-webkit-scrollbar-track{
  border:7px solid #ffffff  ;
}

.sneakn::-webkit-scrollbar-thumb {
  background: #000000 ;
  border-radius: 10px;
}

/* input[type= "checkbox"]{
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5),10px 10px 15px rgba(70,70,70,0.12);
  position: flex;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 8px solid #ececec;
  outline: none;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


input[type= "checkbox"]:after{
font-family: FontAwesome;
content: '\f102';
color: #7a7a7a;
font-size: 20px;
}

input[type= "checkbox"]:checked {
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
  10px 10px 15px rgba(70,70,70,0.12),
  inset -10px -10px 15px rgba(255,255,255,0.5) ,
  inset 10px 10px 15px rgba(70,70,70,0.12);

}

input[type= "checkbox"]:checked:after {
  color: #15e38a;

} */
likDiv {
  font-family: sans-serif;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.likebtn {
  min-width: 150px;
  padding: 15px 10px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 25px;
  color: rgb(69, 107, 107);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.952),
    7px 7px 20px 0 rgb(212, 212, 212);
}

.likebtn:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(253, 251, 251, 0.911),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}
/* 
.icons-container {
	margin: 0;
	height: 100vh;

	display: flex;
	justify-content: space-around;
	align-items: center;

	& > .icon-container {
		padding: 1em 1.2em;
		border-radius: 0.5em;

		transition: all 0.2s ease-in-out;
	}

	&.not-animated > .icon-container {
		box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.6),
			12px 12px 12px 0 rgba(0, 0, 0, 0.03);
		transform: scale(1.05);
	}
	&.animated > .icon-container {
		animation: raise-container 0.3s forwards 0.8s;
	}
}

@keyframes raise-container {
	from {
		box-shadow: none;
		transform: scale(1);
	}
	to {
		box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.6),
			12px 12px 12px 0 rgba(0, 0, 0, 0.03);
		transform: scale(1.05);
	}
} */


.bidDiv{
  position: relative ;
  top: 400px;
  right: 1100px;
}
/* VANS */
.sneakv {
  display: flex;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1000;
  /* position: relative; */

}
 .sneakv::-webkit-scrollbar{
  width: 0.5rem;
}
.sneakv::-webkit-scrollbar-track{
  border:7px solid #ffffff  ;
}

.sneakv::-webkit-scrollbar-thumb {
  background: #000000 ;
  border-radius: 10px;
}

/* NEW */
.sneakne {
  display: flex;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1000;
  /* position: relative; */

}
 .sneakne::-webkit-scrollbar{
  width: 0.5rem;
}
.sneakne::-webkit-scrollbar-track{
  border:7px solid #ffffff  ;
}

.sneakne::-webkit-scrollbar-thumb {
 background-color: teal;
  border-radius: 20px;
}




.brand {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #800000;
  font-weight: 1500
}
.feat_title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 3000
}



.name {
  font-family: 'Montserrat Alternates', sans-serif;
  z-index: 500;
  right: 500px;
  
}
.mainmain{
  font-family: 'Montserrat Alternates', sans-serif;
  top: 25px;
  font-weight: 6000;
  font-size: 100px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.mainTitle{
  display: flex;
  position: relative;
  justify-content: center;
  align-items:new center;
  bottom: -100%;
  top: -50%
 

}

/* .popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:500px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

button {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
}


*/
/*  
#model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;

}

.model.active {
  transform: translate(-50%, -50%) scale(1);

}
.modelhead {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modelhead .divTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.modelhead .close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.divBody {
  padding: 10px 15px;
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
} */



.bidHeader {
  font-family: 'Montserrat Alternates', sans-serif;
}
.bids {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 48px;
}

.shoeinput {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 48px;
}

.newPriceinput {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 48px;
}

.newImginput {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 48px;
}

.bidInput{
  min-width: 125px;
  padding: 15px 10px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 25px;
  color: rgb(63, 230, 48);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.952),
    7px 7px 20px 0 rgb(212, 212, 212);
}
.bidInput:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(253, 251, 251, 0.911),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.exitbtn{
  position: relative;
  top: -30%;
  min-width: 60px;
  padding: 15px 10px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 40px;
  color: rgb(155, 19, 19);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.952),
    7px 7px 20px 0 rgb(212, 212, 212);
}

.buyprice {
  font-family: 'Montserrat Alternates', sans-serif;
  position: relative;
  top: -90%;
  left: 99%;
}

.buy {
  position: relative;
  top: -65%;
  left: 96%;
  min-width: 80px;
  padding: 15px 10px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 45px;
  color: rgba(46, 133, 92, 0.74);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.952),
    7px 7px 20px 0 rgb(212, 212, 212);
}

.newForm {
  font-family: 'Montserrat Alternates', sans-serif;
}

.neForm {
  font-family: 'Montserrat Alternates', sans-serif;
  position: absolute ;
  top: -1%;
  left: 55%;
}


.newButton{
  min-width: 125px;
  padding: 15px 10px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 25px;
  color: rgb(255, 166, 65);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.952),
    7px 7px 20px 0 rgb(212, 212, 212);
}
.newButton:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(253, 251, 251, 0.911),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}



.price {
  font-family: 'Montserrat Alternates', sans-serif;
  position: relative;
  left: -12%;
}

/* ADIDAS */
.sneak .show {
  display: flex;
  min-width: 110px;
  height: 50px;
  line-height: 1.5; 
  /* flex-direction: column; */
  /* align-items: center; */
  /* text-align: center; */
  /* width: 25%;
  height: 25%;
  flex: 0 0 25%; */
  text-align: center;
  } 

  /* JORDAN */
.sneakj .show {
  display: flex;
  min-width: 110px;
  height: 80px;
  line-height: 110px; 
  /* flex-direction: column; */
  /* align-items: center; */
  /* text-align: center; */
  /* width: 25%;
  height: 25%;
  flex: 0 0 25%; */
  text-align: center;
  }

  /* NIKE */
.sneakn .show {
  display: flex;
  min-width: 110px;
  height: 150px;
  line-height: 110px; 
  /* flex-direction: column; */
  /* align-items: center; */
  /* text-align: center; */
  /* width: 25%;
  height: 25%;
  flex: 0 0 25%; */
  text-align: center;
  }

  /* VANS */
.sneakv .show {
  display: flex;
  min-width: 110px;
  height: 150px;
  line-height: 110px; 
  /* flex-direction: column; */
  /* align-items: center; */
  /* text-align: center; */
  /* width: 25%;
  height: 25%;
  flex: 0 0 25%; */
  text-align: center;
  }

  /* NEW */
.sneakne .show {
  display: flex;
  min-width: 110px;
  height: 150px;
  line-height: 110px; 
  /* flex-direction: column; */
  /* align-items: center; */
  /* text-align: center; */
  /* width: 25%;
  height: 25%;
  flex: 0 0 25%; */
  text-align: center;
  }












  /* body img {
    display: block;
    box-sizing: border-box;
  } */

.image {
  width: 30%;
  height: 100%;
  margin-bottom: 25px;
  }   

.feat{
  width: 50%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.feature{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
   .nametitle{
     width: 100% ;
     height: 10% ;
    top: 400px;
    right: 400px;
  } 